*{
    margin: 0;

    color: white;
}

#Backgrund{
    background-color: rebeccapurple;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}


h1{
    font-family: monospace;
    font-size: 5vw;
}